.fw-500 {
  font-weight: 500;
}

.chatContainerLeft {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1; 
   top: 0;
   left: 0;
  overflow-x: hidden;
  border-right: 1px solid rgba(36, 32, 32, 0.204);
}

.chatContainerRight {
  height: 100%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
}

.chatHeader {
  height: 65px;
  display: flex;  
  align-items: center;
  border-bottom: 1px solid rgba(36, 32, 32, 0.204);
}

.chatBodyMain {
  margin-top: 5px;
  margin-right: 5px;
}